/*
*   HEADER
*     -Logo
*     -Main Navigation*
*/
.header {
    width: 100%;
    height: 46px;
    background-image: url('../img/header_bg.png');
    background-repeat: repeat-x;
}

.centered {
    width: 960px;
    margin: 0 auto;
    clear: both;
}

.logo {
    float: left;
    margin-top: 7px;
    height: 39px;
    width: 76px;
    background-image: url('../img/reprap_logo.png');   
    background-repeat: no-repeat;
}

.main_nav {
    float: left;
    margin-left: 40px;
}

.main_nav li{
    float: left;
}

.arrow0 {
    height: 46px;
    background-image: url('../img/arrow0_bg.png');
    background-repeat: repeat-x;
}

.arrow0 .main {
    padding: 12px 10px;
}

.arrow0 .separator {
    width: 22px;
    height: 46px;
    background-image: url('../img/arrow0.png');
    background-repeat: no-repeat;
}

.arrow1 {
    height: 46px;
    background-image: url('../img/arrow1_bg.png');
    background-repeat: repeat-x;
}

.arrow1 .main {
    padding: 12px 10px;
}

.arrow1 .separator {
    width: 23px;
    height: 46px;
    background-image: url('../img/arrow1.png');
    background-repeat: no-repeat;
}

.arrow2 {
    height: 46px;
    background-image: url('../img/arrow2_bg.png');
    background-repeat: repeat-x;
}

.arrow2 .main {
    padding: 12px 10px;
}

.arrow2 .separator {
    width: 24px;
    height: 46px;
    background-image: url('../img/arrow2.png');
    background-repeat: no-repeat;
}

.search {
    float: left;
    margin-top: 6px;
    margin-left: 10px;
    width: 175px;
}

.search:focus {
    outline-color: #73ba5f;
}

.account {
    padding-top: 13px;
    float: right;   
}

/*
*   BODY
*     -Left Column
*     -Right Column
*     -Action Column
*/

.body {
    min-width: 960px;
    min-height: 200px;
    padding-top: 10px;
}

.left_column {
    float: left;
    width: 400px;
    height: 200px;
    display: block;
}

.right_column {
    float: left;
    width: 400px;
    min-height: 200px;
    display: block;
}

.content_column {
    float: left;
    width: 800px;
    min-height: 200px;
    display: block;
}

.action_column {
    float: left;
    width: 160px;
    min-height: 200px;
    display: block;
}

.image_gallery {
    overflow: hidden;
    position: relative;
    display: block;
    height: 300px;
    width: 775px;
}

.image_slide {
    position: absolute;
    width: 2000px;
}

.image {
    float: left;
    margin-right: 10px;
}

.left_arrow {
    position: absolute;
    left: 0;
    height: 50px;
    width: 50px;
}

.left_arrow:hover {
    cursor: pointer;
}

.right_arrow {
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
}

.right_arrow:hover {
    cursor: pointer;
}

/*
*
*  DEFORM STYLE
*
*/
.deform table {
    padding: 0;   
}

.deform table td, .deform table th {
    padding-bottom: 5px;
    padding-right: 5px;
}

.deform .issue_add_textarea, .deform .issue_add_textinput {
    width: 550px;
}

.deform .error {
    color: red;   
}

.deform .errorMsg {
    color: red;
    padding-bottom: 5px;
}

.deform .errorMsgLbl {
    padding: 0;
}