/*
*   HEADER
*     -Logo
*     -Main Navigation*
*/
.header {
    width: 100%;
    height: 46px;
    background-image: url('../img/header_bg.png');
    background-repeat: repeat-x;
}

.centered {
    width: 960px;
    margin: 0 auto;
    clear: both;
}

.logo {
    float: left;
    margin-top: 7px;
    height: 39px;
    width: 76px;
    background-image: url('../img/reprap_logo.png');   
    background-repeat: no-repeat;
}

.main_nav {
    float: left;
    margin-left: 40px;
}

.main_nav li{
    float: left;
}

.arrow0 {
    height: 46px;
    background-image: url('../img/arrow0_bg.png');
    background-repeat: repeat-x;
}

.arrow0 .main {
    padding: 12px 10px;
}

.arrow0 .separator {
    width: 22px;
    height: 46px;
    background-image: url('../img/arrow0.png');
    background-repeat: no-repeat;
}

.arrow1 {
    height: 46px;
    background-image: url('../img/arrow1_bg.png');
    background-repeat: repeat-x;
}

.arrow1 .main {
    padding: 12px 10px;
}

.arrow1 .separator {
    width: 23px;
    height: 46px;
    background-image: url('../img/arrow1.png');
    background-repeat: no-repeat;
}

.arrow2 {
    height: 46px;
    background-image: url('../img/arrow2_bg.png');
    background-repeat: repeat-x;
}

.arrow2 .main {
    padding: 12px 10px;
}

.arrow2 .separator {
    width: 24px;
    height: 46px;
    background-image: url('../img/arrow2.png');
    background-repeat: no-repeat;
}

.search {
    float: left;
    margin-top: 6px;
    margin-left: 10px;
    width: 175px;
    border: 0;
    outline: 0;
}

.search:focus {
    outline: s1px solid #73ba5f;
}

.account {
    padding-top: 13px;
    float: right;   
}

/*
*   BODY
*     -Left Column
*     -Right Column
*     -Action Column
*/

.body {
    min-width: 960px;
    min-height: 200px;
    padding-top: 10px;
}

.left_column {
    float: left;
    width: 400px;
    height: 200px;
    display: block;
}

.right_column {
    float: left;
    width: 400px;
    min-height: 200px;
    display: block;
}

.content_column {
    float: left;
    width: 800px;
    min-height: 200px;
    display: block;
}

.action_column {
    float: left;
    width: 160px;
    min-height: 200px;
    display: block;
}

.action {
    padding-bottom: 15px;
}

.image_gallery {
    overflow: hidden;
    position: relative;
    display: block;
    height: 300px;
    width: 775px;
    padding-bottom: 10px;
}

.image_slide {
    position: absolute;
    width: 2000px;
}

.image {
    float: left;
    margin-right: 10px;
}

.left_arrow {
    display: none;
    position: absolute;
    left: 10px;
    top: 100px;
    height: 100px;
    width: 25px;
    background-image: url("../img/left_arrow.png");
    background-position: 25px 0;
}

.left_arrow:hover {
    cursor: pointer;
    background-position: 0 0;
}

.right_arrow {
    display: none;
    position: absolute;
    right: 10px;
    top: 100px;
    height: 100px;
    width: 25px;
    background-image: url("../img/right_arrow.png");
    background-position: 0 0;
}

.right_arrow:hover {
    cursor: pointer;
    background-position: 25px 0;
}

.issue {
    padding-bottom: 10px;   
}

.add_comment {
    padding-bottom: 5px;   
}

.comment {
    padding: 5px 0;
    clear: both;
    display: block;
}

.comment .comment_body {
    float: left;
    width: 755px;
}

.comment .comment_score {
    padding-top: 11px;
    float: left;
    width: 25px;
}

.comment .comment_rate {
    float: left;
    width: 20px;
}

.comment .comment_rate .up {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
    background-image: url('../img/up_arrow.png');
}

.comment .comment_rate .down {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url('../img/down_arrow.png');
}

.comment .comment_rate .up:hover {
    background-position: -20px 0px;
}

.comment .comment_rate .down:hover {
    background-position: -20px 0px;
}

.comment .comment_rate .active {
   background-position: -40px 0px;
}

.comment .comment_rate .active:hover {
    background-position: right;
}

.tags {
    padding-bottom: 10px;   
}

.tags li a {
    color: #3B3B3B;
    background-color: #73BA5F;
    padding: 5px;
    border-radius: 7px;
    line-height: 2.4;
}

.tags li a:hover {
    color: #FFF;
}

/*
*
*  DEFORM STYLE
*
*/
.deform table {
    padding: 0;   
}

.deform table td, .deform table th {
    padding-bottom: 5px;
    padding-right: 5px;
}

.deform .issue_add_textarea, .deform .issue_add_textinput {
    width: 550px;
}

.deform .error {
    color: red;   
}

.deform .errorMsg {
    color: red;
    padding-bottom: 5px;
}

.deform .errorMsgLbl {
    padding: 0;
}

.deform .issue_comment_add_textarea {
    width: 790px;   
}